%h3= "#{t('forms.comments.index')} "
%hr
%span
  .pull-left.quick_filters= quick_filters_by_read_or_unread(@comments_read, @comments_unread)
  .select-per-page= itens_per_page
  .pull-right= search_form_for_index 'comments'
%hr
- unless @comments.empty?
  #list-items.comments= table_list :comment, @comments, [:email, :content, :announcement_id], [:update_situation, :delete_ajax]
- else
  = alert_list_empty
