%h3= "#{t('forms.comments.index')} "
%hr
%span
  .select-per-page= itens_per_page
  .pull-right= search_form_for_index 'comments'
%hr
- unless @comments_unread.empty?
  %h3= t('cruds.table_list.comments.unread')
  #list-items.unread= table_list :comments, @comments_unread, [:email, :content, :announcement_id], [:update_situation, :delete]

- unless @comments_read.empty?
  %hr
  %h3= t('cruds.table_list.comments.read')
  #list-items.read= table_list :comments, @comments_read, [:email, :content, :announcement_id], [:update_situation, :delete]


