%h3= t('forms.announcement.index')
%hr
%span
  .pull-left= quick_filters_by_category(@announcements_for_sale, @announcements_for_rent, @announcements_for_buy)
  .select-per-page= itens_per_page
  .pull-right= search_form_for_index 'announcements'

- unless @announcements.empty?
  #list-items= table_list :announcement, @announcements 
- else
  = alert_list_empty


