%div.well.span4.offset4
  %h2 Sign up
  %hr
  %p= flash[:notice]
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = f.error_notification

    .form_inputs
      = f.input :email, :required => true, :autofocus => true, :placeholder => 'seu email', :input_html => { :class => 'span4' }
      = f.input :password, :required => true, :placeholder => 'seu email', :input_html => { :class => 'span4' }
      = f.input :password_confirmation, :required => false, :placeholder => 'seu email', :input_html => { :class => 'span4' }
    .form_inputs
      = f.button :submit, 'Sign in', :class => 'btn btn-large btn-block btn-primary'
    %hr
    .form_inputs
      = f.input :remember_me, :hint => 'caso deseje lembrar seus dados', :as => :boolean if devise_mapping.rememberable?
  = render "devise/shared/links"
