%h3= t('forms.user.index')
%hr
%span
  .select-per-page= itens_per_page
  .pull-right= search_form_for_index 'users'

- unless @users.empty?
  #list-items= table_list :user, @users, [],[:edit, :show, :update_situation]
- else
  = alert_list_empty


