.row
  .span3
    .sidebar-nav
      .well
        %ul.nav.nav-list
          %li.nav-header Status
          %li= link_to "#{t('dashboard.moderador.status.annoucements')}  <span class='label label-info alinhamento'>4</span>".html_safe, '#'
          %li= link_to "#{t('dashboard.moderador.status.comments')}  <span class='label label-info alinhamento'>4</span>".html_safe, '#'
          %li= link_to "#{t('dashboard.moderador.status.interests_received')}  <span class='label label-info alinhamento'>4</span>".html_safe, '#'

  .span9
    .tabbable
      %ul.nav.nav-tabs
        %li.active= link_to t('dashboard.moderador.annoucement.new'), '#tab1', :data => { :toggle => :tab }
        %li= link_to t('dashboard.moderador.annoucement.old'), '#tab2', :data => { :toggle => :tab }
        %li= link_to "#{t('dashboard.moderador.comments.title')} <span class='label label-important notitication-alinhamento'>3</span>".html_safe, '#tab3', :data => { :toggle => :tab }
        %li= link_to "#{t('dashboard.moderador.interests.title')} <span class='label label-important notitication-alinhamento'>3</span>".html_safe, '#tab4', :data => { :toggle => :tab }

      .tab-content
        .tab-pane.active#tab1
          .new-annoucement-form
            = simple_form_for '#' do |f|
              .control-group
                %label.controls-label
                  = t('activerecord.models.attributes.name')
                .controls
                  = f.input :name


        .tab-pane#tab2
          %table.table.table-bordered.table-striped
            %thead
              %tr
                %th= t('dashboard.moderador.table.title')
                %th= t('dashboard.moderador.table.created_at')
                %th= t('dashboard.moderador.table.category')
                %th= t('dashboard.moderador.table.actions')
            %tbody
              %tr
                %td Notebook
                %td 19/02/2010
                %td Venda
                %td.actions
                  = link_to "<i class='icon-pencil'></i>".html_safe, '#', :rel => 'tooltip', :title => t('cruds.table_list.tooltips.edit'), :data => { :placement => :top }
                  = link_to "<i class='icon-zoom-in'></i>".html_safe, '#', :rel => 'tooltip', :title => t('cruds.table_list.tooltips.show'), :data => { :placement => :top }
                  = link_to "<i class='icon-remove'></i>".html_safe, '#', :rel => 'tooltip', :title => t('cruds.table_list.tooltips.desactive'), :data => { :placement => :top }
              %tr
                %td Quarto em República
                %td 14/27/8888
                %td Aluguel
                %td.actions 
                  = link_to "<i class='icon-pencil'></i>".html_safe, '#', :rel => 'tooltip', :title => t('cruds.table_list.tooltips.edit'), :data => { :placement => :top }
                  = link_to "<i class='icon-zoom-in'></i>".html_safe, '#', :rel => 'tooltip', :title => t('cruds.table_list.tooltips.show'), :data => { :placement => :top }
                  = link_to "<i class='icon-ok'></i>".html_safe, '#', :rel => 'tooltip', :title => t('cruds.table_list.tooltips.active'), :data => { :placement => :top }
              %tr
                %td Quarto em Pensão
                %td 45/82/1235
                %td Venda
                %td.actions 
                  = link_to "<i class='icon-pencil'></i>".html_safe, '#', :rel => 'tooltip', :title => t('cruds.table_list.tooltips.edit'), :data => { :placement => :top }
                  = link_to "<i class='icon-zoom-in'></i>".html_safe, '#', :rel => 'tooltip', :title => t('cruds.table_list.tooltips.show'), :data => { :placement => :top }
                  = link_to "<i class='icon-ok'></i>".html_safe, '#', :rel => 'tooltip', :title => t('cruds.table_list.tooltips.active'), :data => { :placement => :top }
          
        .tab-pane#tab3
          %div.comments 
            %blockquote lorem haiuhiue ahuieh auiehuai ehiua e aiueh uiahaiue iuah eiuh aeuiha 
            %p
              %i.icon-user &nbsp; Luiz Filho
              %i.icon-calendar &nbsp; em 14/27/99
              %i.icon-calendar &nbsp; @lccezinha
              %i.icon-calendar &nbsp; lccezinha
            = link_to t('cruds.table_list.comments.accept'), '#', :class => "btn btn-mini btn-success"
            %hr
            %blockquote lorem haiuhiue ahuieh auiehuai ehiua e aiueh uiahaiue iuah eiuh aeuiha 
            %p
              %i.icon-user &nbsp; Luiz Filho
              %i.icon-calendar &nbsp; em 14/27/99
              %i.icon-calendar &nbsp; @lccezinha
              %i.icon-calendar &nbsp; lccezinha
            = link_to t('cruds.table_list.comments.deny'), '#', :class => "btn btn-mini btn-danger"



        .tab-pane#tab4
          .accordion
            .accordion-group
              .accordion-heading= link_to t('dashboard.moderador.interests.from_me'), '#meus-interesses', :class => 'accordion-toggle', :data => { :toggle => :collapse }
              .accordion-body.collapse#meus-interesses
                %p lorem haiuahueiueiu ahuieh ah iaheui huiaeh haiue hiuahieuhauiheuihaiuhiaehi ahiuaheui
            .accordion-group
              .accordion-heading= link_to t('dashboard.moderador.interests.to_me'), '#interesses-sobre-meus-anuncios', :class => 'accordion-toggle', :data => { :toggle => :collapse }
              .accordion-body.collapse#interesses-sobre-meus-anuncios
                %p lorem haiuahueiueiu ahuieh ah iaheui huiaeh haiue hiuahieuhauiheuihaiuhiaehi ahiuaheui


        .tab-pane#tab4
          %p tab 4
