.alert.alert-info
  %button.close{ :data => { :dismiss => :alert } } X
  %h3= @msg

.dashboard
  = link_to 'haha', '#', :class => 'btn btn-larg btn-info'
  = link_to 'haha', '#', :class => 'btn btn-larg btn-info'
  = link_to 'haha', '#', :class => 'btn btn-larg btn-info'
  = link_to 'haha', '#', :class => 'btn btn-larg btn-info'
