%table.table.table-bordered.table-striped
  %thead
    %tr
      %th
        = t("activerecord.attributes.#{model_name}.name")
        = show_ordenation :name
        - unless th_columns.empty?
          - th_columns.each do |column|
            %th= column  
      
      %th= t('general.actions')
  %tbody
  - objetos.each do |objeto|
    %tr{ :id => "#{objeto.class.to_s.downcase.underscore}_#{objeto.id}" }
      %td= objeto.name
      - unless merge_columns.empty?
        - merge_columns.each do |column|
          %td
            - if column.eql?(:value)
              = to_real(objeto.attributes[column.to_s])
            - elsif column.eql?(:announcement_id)
              = link_to objeto.announcement.name, admin_announcement_path(objeto), :rel => :tooltip, :title => t('cruds.table_list.tooltips.show'), :data => { :placement => :top }
            - else 
              = objeto.attributes[column.to_s]

      %td.actions{ :id => objeto.id }   
        = link_to "<i class='icon-pencil'></i>".html_safe, "#{base_route}#{objeto.id}/edit", :rel => 'tooltip', :title => t('cruds.table_list.tooltips.edit'), :data => { :placement => :top }
        = link_to "<i class='icon-zoom-in'></i>".html_safe, "#{base_route}#{objeto.id}", :rel => 'tooltip', :title => t('cruds.table_list.tooltips.show'), :data => { :placement => :top }
        = show_active_desactive(objeto)

= page_navigation_links objetos  


