!!!
%html
  %head
    = yield :titles
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application", 'jquery.mask-input'
    = yield :headers
    = csrf_meta_tags
 
  %body
    .container
      .navbar.navbar-fixed-top.navbar-static-top.navbar-inverse
        .navbar-inner
          .container
            %a.brand Nameless Project
            .nav-collapse.collapse            
              %ul.nav
                %li.divider-vertical
                %li= link_to 'link', 'http://www.google.com'
                %li= link_to 'link', '#'
                %li= link_to 'link', '#'
            
              = show_register_or_login
               
      = yield
