!!!
%html
  %head
    %title My Vacancy
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
 
  %body
    .container
      .navbar.navbar-fixed-top.navbar-static-top.navbar-inverse
        .navbar-inner
          .container
            %a.brand Nameless Project
            .nav-collapse.collapse            
              %ul.nav
                %li.divider-vertical
                %li= link_to 'link', '#'
                %li= link_to 'link', '#'
                %li= link_to 'link', '#'
            
              %ul.pull-right.nav 
                %li.dropdown
                  = link_to "#{t('general.login')}  <b class='caret'></b>".html_safe, '#', :class => 'dropdown-toggle', :data => { :toggle => :dropdown }
                  .dropdown-menu{ :style => "padding: 15px; padding-bottom: 0px;" }
                    = simple_form_for(User.new, :as => User, :url => session_path(User)) do |f|
                      = f.input :email, :required => true, :autofocus => true, :placeholder => t("placeholders.email"), :input_html => { :style => 'margin-bottom: 15px;' }
